# Xcode build files
build/
DerivedData/

# User-specific settings
*.xcuserstate
xcuserdata/

# Xcode project state
*.xcscmblueprint
*.moved-aside

# Archives and Symbols
*.xcarchive
*.dSYM
*.dSYM.zip

# Playground support
timeline.xctimeline
playground.xcworkspace
